:root{
    --header-color: #abd641;
    --body-color: #ffffff;
    --footer-color: #7398d4;
    --button-color:#65763a;
    --button-hover-color:#7fa71c;
    --text-color: #ffffff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    border: 0;
}

/* Hoang Phuc Starts*/
.lh_box a:hover{
    color: var(--button-hover-color);
}

.lh_box i{
    color: var(--header-color);
}

.lh_back_ground {
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    background-image: url(images/lien-he/anhNen.jpg), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-position: center;
    background-size: cover;
    position: absolute;
}

.lh_box {
    margin-left: auto;
    margin-right: auto;
    
    width: 35%;
    height: 90%;
    border-radius: 10px;
    position: relative;
    margin-top: 2%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    padding: 0 3%;
    overflow: hidden;
}

.lh_box #logo img{
    position: absolute;
    height: 13%;
}

.lh_box h1{
    padding: 3% 5%;
    margin-bottom: 0;
    color: var(--text-color);
    margin-left: 31%;
}

.lh_box p{
    color: var(--text-color);
}

.lh_box a{
    color: var(--text-color);
}

.lh_box .not-white{
    color: var(--header-color);
    background-color: var(--body-color);
    width: 75%;
    border-radius: 1rem;;
    padding: 1rem 1rem;
    
}

.lh_box .label-color{
    background-color: var(--body-color);
    border-radius: 1rem;
    padding-left: 0.5rem;
    width: 4.5rem;
    color: var(--header-color);
}

.lh_box .button{
    margin-left: 75%;
}

.lh_box table input{
    width: 50%;
    border-radius: 1rem;
    padding-left: 0.5rem;
    border: 1px solid var(--header-color);
}

.lh_box table textarea{
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    border: 1px solid var(--header-color);
    width: 100%;
}

.lh_box .social-icon img{
    width: 1rem;
}

#search-box {
    display: flex;
    background-color: var(--header-color);
    width: 60vw;
    min-width: 950px;
    padding: 1rem;
    border-radius: 0.5rem;
    justify-content: space-between;
    transition: top 0.3s;
    overflow: hidden;
    margin: 0 auto;
    z-index: 3;
}

.sticky {
    position: fixed;
    top: 0;
    left: 20vw;
}

#search-box .items{
    display: flex;
    flex-direction: column;
    width: 23%;
}

#search-box .items p{
    color: var(--text-color);
    margin-bottom: 0.5rem;
    margin-top: 0;
}

#search-box .items:last-child button{
    margin-top: 1rem;
    height: 70%;
    width: 100%;
    color: var(--text-color);
    background-color: var(--button-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#search-box .items:last-child button:hover{
    background-color: var(--button-hover-color);
}

.tc_content{
    
    padding: 1% 2%;
    background-color: #e4f3b6;
}

.tc_content .tc_container {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
}

.tc_content .tc_container img{
    height: 75%;
    width: 100%;
}

.tc_content .tc_container .item a{
    color: black;
    text-decoration: none;
}

.tc_content .tc_container .item a:hover{
    color: var(--button-hover-color);
}

.tc_content .tc_container .item a i{
    color: var(--header-color);
}

@media (max-width: 799px){
    html{
        font-size: 62.5%;
    }

    .lh_html{
        font-size: 100%;
    }
    

    .lh_box {
        margin-left: auto;
        margin-right: auto;
        top: 5%;
        
        width: 67%;
        height: 600px;
        border-radius: 10px;
        position: relative;
        margin-top: 2%;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        padding: 0 3%;
        overflow: hidden;
    }

    .lh_box .button{
        margin-left: 73%;
    }

    #search-box {
        display: flex;
        background-color: var(--header-color);
        width: 95%;
        min-width: 0px ;
        padding: 1rem;
        border-radius: 0.5rem;
        justify-content: space-between;
        transition: top 0.3s;
        overflow: hidden;
        margin: 0 auto;
        z-index: 3;
    }

    .sticky {
        position: fixed;
        top: 0;
        left: 0;
    }

    .tc_content .tc_container {
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 0%;
        column-gap: 4%;
    }
}

@media (max-width: 477px){
    .lh_html{
        font-size: 80%;
    }

    .lh_box {
        margin-left: 0;
        margin-right: 0;
        top: 5%;
        
        width: 100%;
        height: 600px;
        border-radius: 10px;
        position: relative;
        margin-top: 2%;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        padding: 0 3%;
        overflow: hidden;
    }

    .lh_box .button{
        margin-left: 65%;
    }

    .lh_box table textarea{
        border-radius: 0.5rem;
        padding-left: 0.5rem;
        border: 1px solid var(--header-color);
        width: 85%;
    }

    .lh_box .not-white{
        color: var(--header-color);
        background-color: var(--body-color);
        width: 70%;
        border-radius: 1rem;;
        padding: 1rem 1rem;
        
    }

    .lh_box p{
        padding-right: 3%;
    }

    #search-box .items{
        display: flex;
        flex-direction: column;
        width: 28%;
    }

    #search-box .items:last-child{
        width: 14%;
    }

    #search-box .items:last-child button{
        margin-top: 0;
        height: 100%;
        width: 100%;
        color: var(--text-color);
        background-color: var(--button-color);
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .tc_content .tc_container {
        display: block;
        grid-template-columns: none;
        gap: 5%;
    }
}
/* Hoang Phuc ends*/

/* S O N Starts*/
/* Start CSS header and slider*/

.tc-slider a {
    text-decoration: none;
}

#tc-header {
    font-family: 'EB Garamond';
    font-size: larger;
    position: relative;
    height: 15vh;
    z-index: 2;
}
  
#tc-header #tc-header-container #tc-logo {
    width: 5rem;
    height: 5rem;
    position: relative;
    left: 47%;
}
#tc-header #tc-header-container a {
    color: #ffffff;
    padding: 6px;
    
}
#tc-header #tc-header-container .navi-left,
#tc-header #tc-header-container .navi-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
#tc-header #tc-header-container .navi-right {
    float: right;
    padding-right: 8rem;
}
#tc-header #tc-header-container .navi-left {
    float: left;
    padding-left: 8rem;
}

.navi-left a, .navi-right a {
    position: relative;
    color: #ffffff;
}
  
.navi-left a::after, .navi-right a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom;
    transition: 0.3s;
}
  
.navi-left a:hover::after, .navi-right a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}

.tc-slider {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.tc-slider2 {
    height: 17vh;
}
    
.tc-slider .tc-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
    
.tc-slider .tc-slide:nth-child(1) {
    background-image: url('images/trang-chu/img-1.jpg');
}
   
.tc-slider .tc-slide:nth-child(2) {
    background-image: url('images/trang-chu/img-2.jpg');
}
   
.tc-slider .tc-slide:nth-child(3) {
    background-image: url('images/trang-chu/img-3.jpg');
}
   
.tc-slider .tc-slide:nth-child(4) {
    background-image: url('images/trang-chu/img-4.jpg');
}
   
.tc-slider .tc-slide:nth-child(5) {
    background-image: url('images/trang-chu/img-5.jpg');
}

.tc-slider .tc-slide:nth-child(6) {
    background-image: url('images/trang-chu/img-6.jpg');
}

.tc-slider #tc-log {
    position: relative;
    z-index: 4;
    float: right;
    right: 2rem;
    top: 1rem;
    margin: 10px;
}

.tc-slider #tc-log a {
    color: #ffffff;
    font-family: 'EB Garamond';
    font-size: larger;
    padding: 8px;
    background-color: #e8952f;
}

.tc-slider #tc-log a:hover {
    background-color: #dba764;
}

.button-left, .button-right {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    background: transparent;
    backdrop-filter: blur(10px);
}

.button-left:hover, .button-right:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

.button-left {
    left: 1%;
}

.button-right {
    right: 1%;
}

/* End CSS header and slider */

/* Start responsive header */
.myNavi {
    overflow: hidden;
}

#tc-header #tc-header-container .icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    #tc-header #tc-header-container .navi-left,
    #tc-header #tc-header-container .navi-right {
        padding: 0;
    }

    #tc-header #tc-header-container .navi-left {
        width: 49%;
    }

    #tc-header #tc-header-container #tc-logo {
        left: 49%;
    }
}

@media (max-width: 799px) {
    #tc-header #tc-header-container .navi-left,
    #tc-header #tc-header-container .navi-right {
        margin-top: 30px;
        width: 40%;
    }

    #tc-header #tc-header-container #tc-logo {
        left: 43%;
    }
}

@media (max-width: 477px) {

    #search-box {
        width: 100vw;
        min-width: 0px;
    }

    .navi-left a, .navi-right a {display: none;}

    #tc-header #tc-header-container .icon {
        font-size: 20px;
        float: left;
        display: block;
        position: relative;
        top: 25px;
        z-index: 5;
    }

    .tc-slider #tc-log {
        top: 30px;
        right: 0;
        padding: 0px;
        margin: 2px;
    }

    #tc-header #tc-header-container #tc-logo {
        left: 39%;
        bottom: 15px;
    }

    #tc-header #tc-header-container #tc-logo img {
        width: 6rem;
        height: 6rem;
    }

    .myNavi .navi-left.responsive,
    .myNavi .navi-right.responsive {
        background-color: #ffffff;
        position: relative;
    }

    .myNavi.responsive .icon {
        position: absolute;
        left: 0;
        top: 0;
    }

    #tc-header #tc-header-container .navi-left,
    #tc-header #tc-header-container .navi-right {
        display: block;
        padding: 0;
        width: 100%;
        transition: 0.5s;
        margin-top: 0;
    }

    .navi-left.responsive a,
    .navi-right.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #tc-header #tc-header-container .navi-left a,
    #tc-header #tc-header-container .navi-right a {
        padding: 10px 20px;
        color: #000000;
        transition: 0.5s;
    }

    #tc-header #tc-header-container .myNavi {
        width: 100vw;
        margin-top: 30px;
    }

    #tc-header #tc-header-container .navi-left a:hover,
    #tc-header #tc-header-container .navi-right a:hover {
        background-color: var(--button-hover-color);
    }
}
/* End responsive header */



/* Footer start */

/* ========================================FOOOTER Start========================================= */


.footer-up-info{
    grid-area: footerUpInfo;
    font-weight: 500;
    font-size: 14px;
}

.footer-up-info > *{
    margin-bottom: 8px;
}

.link-ggMap{
    grid-area: linkggMap;
    height: 60px;
    width: 160px;
    border: 1px solid;
    cursor: pointer;
    position: relative;
    left: 200px;
}

.goto-icon{
    margin-left: 5px;
    position: relative;
}

.link-ggMap a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-ggMap:hover{
    background-color: var(--button-hover-color);
    border-color: #ccc;
}

.dt{
    grid-area: dt;
    border: 1px solid #000;
    opacity: 0.1;
    margin: 20px 0;
}

.footer-main-info{
    grid-area: footerMainInfo;
}

.footer-main-info .logo{
    position: relative;
    left: 80px;
    cursor: pointer;
}

.footer-main-info .address,.email,.phone{
    display: flex;
    color: var(--button-color);
}

.address{
    grid-area: address;
}

.email{
    grid-area: email;
}

.phone{
    grid-area: phone;
}


.footer-main-info .email a{
    color: var(--button-color);
}

.icon-info{
    margin-right: 10px;
}

.footer-main-info .info-item{
    margin-top: 7px;
}

.menu-item1{
    grid-area: menuItem1;
}

.menu-item2{
    grid-area: menuItem2;
}

.menu-item3{
    grid-area: menuItem3;
}

.menu-item4{
    grid-area: menuItem4;
}

.menu-item5{
    grid-area: menuItem5;
}

.menu > *{
    margin-bottom: 10px;
    width: auto;
}

.menu .link-item a:hover{
    color: #ccc;
}

.dowload{
    grid-area: dowLoad;
}

.dowload > *{
    display: flex;
    color: var(--button-color);
    margin-bottom: 15px;
}

.dowload .qr .text-dowload,
.dowload .store .chplay{
    margin-left: 20px;
}

.link-notify{
    margin-top: 20px;
}


.footer-dow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0A0F2B;
    color: #fff;
    height: 60px;
}

.footer-dow .link{
    margin-right: 70px;
    grid-area: storeLink;
}

.footer-dow .text{
    margin-left: 50px;
}

.footer-dow .link .icon{
    margin-right: 12px;
    height: 20px;
    width: 20px;
}

.footer-dow .link .icon:hover{
    opacity: 0.8;
}

.container-footer-up{
    display: grid;
    grid-template-areas: "footerUpInfo footerUpInfo linkggMap linkggMap"
                         "dt dt dt dt"
                         "footerMainInfo menuItem1 menuItem2 menuItem3"
                         "footerMainInfo menuItem4 menuItem5 dowLoad";
    background-color: var(--footer-color);
    padding: 30px 5% 10px 5%;
}

.link-notify img{
    height: 37px;
    width: 100px;
}

.store_img{
    height: 37px;
    width: 110px;
    border-radius: 2px;
}

.for-mobile{
    display: none;
    grid-area: My_HYDRANGEA;
}

.mobile-showList{
    display: none;
}


@media only screen and (max-width: 1150px){
    .footer{
        font-size: 17px;
    }
    
    .container-footer-up{
        grid-template-areas: "footerUpInfo linkggMap"
                             "dt dt"
                             "menuItem1 menuItem2"
                             "menuItem3 menuItem4"
                             "menuItem5 dowLoad"
                             "footerMainInfo footerMainInfo";
    }
    
}


@media only screen and (max-width: 832px){
    .footer{
        font-size: 16px;
    }

    .container-footer-up{
        grid-template-areas: "footerUpInfo linkggMap"
                             "dt dt"
                             "menuItem1 menuItem2"
                             "menuItem3 menuItem4"
                             "menuItem5 dowLoad"
                             "footerMainInfo footerMainInfo";
    }

    .link-ggMap{
       left: 100px;
    }

    .menu, .dowload{
        margin-bottom: 25px;
    }

    .logo{
        display: none;
    }

    .footer-dow .link{
        position: relative;
        width: 150px;
        left: 60px;
    }



}





@media only screen and (max-width: 477px){

    .footer{
        font-size: 15px;
        width: 100%;
    }

    .for-mobile{
        display: block;
        color: var(--button-color);
    }

    .container-footer-up{
        grid-template-areas: "My_HYDRANGEA"                              
                              "address"
                              "email"
                              "phone"
                              "menuItem1"
                              "menuItem2"
                              "menuItem3"
                              "menuItem4"
                              "menuItem5"
                              "footerMainInfo";
    }

    .for-mobile > *{
        display: flex;
        margin-bottom: 10px;
    }

    .apple_store{
      margin-right: 10px;
    }

    .for-mobile .link .link_item{
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .for-mobile .link :hover{
        background-color: var(--button-hover-color);
    }

    .link_item a .icon{
        font-size: 17px;
    }

    .menu .link-item{
        margin-left: 50px;
        display: none;
    }

    .menu h3{
        margin: 10px 0;
        display: inline-block;
        cursor: pointer;
    }

    .mobile-showList, .close-list{
        display: inline-block;
        margin-left: 5px;
        cursor: pointer;
    }

    .footer-dow .text{
        font-size: 12px;
        margin: auto;
    }



    .footer-up-info, .link-ggMap,
    .dt, .footer-main-info .logo, .link-notify, .dowload, .footer-dow .link{
        display: none;
    }

}


/* ========================================FOOOTER End========================================= */








/* Start dang nhap-dang ky */
#container {
    width: 100%;
    height: 100%;
    background-image: url(images/trang-chu/img-1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    width: 400px;
    height: 550px;
    border-radius: 10px;
    position: relative;
    margin: 6% auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 280px;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #999;
    border-radius: 24px;
}

.log-sign {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#button-color {
    top: 0;
    left: 0;
    position: absolute;
    width: 140px;
    height: 100%;
    background: var(--button-color);
    border-radius: 30px;
    transition: 0.5s;
}

.input-box {
    margin-top: 90px;
    position: absolute;
    top: 120px;
    width: 300px;
    left: 50px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-button {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: var(--button-color);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin: 40px 20px 0;
}

#sign-up {
    left: 750px;
}

#sign-up .social-icons {
    position: relative;
    top: 20px;
    left: 20%;
}

#login a {
    float: right;
    color: #000000;
}

#sign-up .social-icons img {
    margin: auto 6px;
    width: 1.5rem;
}

.form-box #logo img{
    position: relative;
    width: 30%;
    left: 35%;
}

@media only screen and (max-width: 477px) {
    .form-box {
        width: 100vw;
        height: 95%;
        border-radius: 10px;
        position: relative;
        margin: 6% auto;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        padding: 5px;
        overflow: hidden;
    }

    .input-box {
        position: absolute;
        top: 140px;
        width: 330px;
        left: 50px;
        transition: 0.5s;
    }

    .social-icons {
        left: 20%;
    }

    #sign-up .submit-button {
        margin-top: 30px;
    }

    #login a {
        margin-right: 60px;
    }
}
/* End dang nhap-dang ky */
/* S O N ends*/


/* Phat 2k3 Starts*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


html {
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background-color: white;
}


html::-webkit-scrollbar-thumb {
    background-color: black;
}


.btn {
    display: inline-block;
    background: #abd641;
    margin-top: 1rem;
    color: #7F4BEE;
    font-size: 1.7rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.btn:hover {
    background: #abd641;
}

section {
    padding: 0 5rem;
}
.heading {
    background-size: cover !important;
    background-position: center !important;
    padding-top: 15rem;
    padding-bottom: 15rem;
    padding-left: 5rem;
    display: flex;
    align-items: center;    
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: auto;
    background: url(images/gioiThieu/pic_2.jpg);

}

.heading h1{
    /* font-size: 5rem;
    text-transform: uppercase;
    color: white;
    box-shadow: 0 1.5rem 3rem rgba(0,0,0,.3); */

    font-size: 5rem;
    text-transform: uppercase;
    background: linear-gradient(45deg, #FFFFFF, #62A4F1, #7F4BEE, #9B72F2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    object-fit: cover;
    
    /* box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3); */
}
.heading p {
    font-size: 2rem;
    color: white;
    text-transform: inherit;
}



#page-header {
    background-image: url(./images/gioiThieu/pic_2.jpg);
    width: 100%;
    height:  80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    padding: 1rem;
    z-index: 1;
}

.lopphu {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height:  80vh;
    top: 0;
    left: 0;
    z-index: 10;
}

#page-header h2 {
    font-size: 5rem;
    text-transform: uppercase;
    background: linear-gradient(45deg, #FFFFFF, #62A4F1, #7F4BEE, #9B72F2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    object-fit: cover;

    z-index: 100;
}

#page-header p{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 100;
}



/*section tong Quan starts*/

#tong-quan h2 {
    text-align: center;
    font: 800;
    font-size: 2rem;
    margin: 2rem 0;
}
#tong-quan .tq-box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}
#tong-quan .tq-box .tq-img {
    width: 40%;
    margin-right: 40px;
    
}
#tong-quan img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 2rem;
}
#tong-quan .tq-box .tq-content {
    width: 60%;
}
#tong-quan .tq-box .tq-content p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1;
}

/*section tong Quan ends*/


/* cau-chuyen starts */
.cau-chuyen {
    margin-top: 5rem;
    padding: 5% 10%;
    background-color: #0766AD;
    color: #FFFFFF;
}
.cau-chuyen h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1.5rem;
}
.cau-chuyen p {
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.2;
}

/* cautruyen ends */
/* section sanPham starts */



.sp-container .sp-ten {
    margin: 2rem 0;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}


#pro-details {

    display: flex;
    margin-top: 2rem;
}
#pro-details .single-pro-image {
    width: 50%;
    margin-right: 50px;
}
#pro-details .single-pro-image img {
    width: 100%;
}

#pro-details .single-pro-image .small-img-group {
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

#pro-details .single-pro-image .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }

#pro-details .single-pro-details {
    width: 50%;
}

#pro-details .single-pro-details h1 {
    padding: 1rem 0;
    font-size: 2rem;
}

#pro-details .single-pro-details h2 {
    font-size: 1.5rem;
    padding-top: 5%;
}



#pro-details .single-pro-details input {
    width: 4rem;
    height: 2rem;
    padding-left: 10px;
    font-size: 1rem;
    margin-right: 1rem;
}
#pro-details .single-pro-details input:focus {
    outline: none;  
}


#pro-details .single-pro-details button{
    background-color: #088178;
    color: #fff;
}

#pro-details .single-pro-details p{
    padding: 1rem 0;
    line-height: 1.2;
    text-align: justify;
}
  
#pro-details .single-pro-details .sp-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#pro-details .single-pro-details .sp-icons .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #088178;
    width: 30%;
    border-radius: 1rem;
    color: #fff;
    padding: 1rem;
}
#pro-details .single-pro-details .sp-icons .icons i {
    padding-top: 1.5rem;

    font-size: 1.5rem;
}
#pro-details .single-pro-details .sp-icons .icons span {
    padding-top: 1.5rem;
    font-size: 0.75rem;
}

/* section sanPham ends */



/*gioHang starts*/
.gio-hang h1{
    font-size: 2.5rem;
    margin: 2rem 0;
    text-align: center;

    text-transform: uppercase;
}


#cartDetail {
    border-collapse: collapse;
    width: 100%;
  }

#cartDetail td, #cartDetail th {
    border: 1px solid #ddd;
    border-right: none; 
    border-left: none;
}


#cartDetail tr:nth-child(even) {
    background-color: #f2f2f2;
}

#cartDetail tr:hover {
    background-color: #ddd;
}

#cartDetail th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

#cartDetail img {
    max-width: 100px;
    height: auto;
    margin: 1rem;
    cursor: pointer;
}
#cartDetail tfoot td {
    height: 3rem;
    padding-right: 5rem;
}


.gio-hang .gh-btn {
    font-size: 1rem;
    border-radius: 1rem;
}

.submit-cart {
    display: flex;
    justify-content: center;
}

.dh-btn {
    background: #abd641;
    margin-top: 1rem;
    color: #7F4BEE;
    font-size: 1.7rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

/*giohang ends*/



@media (max-width: 799px) {
    html {
        font-size: 62.5%;
    }
    #page-header h2 {
        font-size: 2.5rem;
    }
    #page-header p {
        font-size: 1.5rem;
    }
    #tong-quan {
        padding: 0;
    }
    #tong-quan h2 {
        text-align: center;
        font: 800;
        font-size: 2rem;
        margin: 2rem 0;
    }

    #tong-quan .tq-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 3rem;
    }
    #tong-quan .tq-box .tq-img {
        align-items: center;
        width: 100%;
        height: auto;
    }
    #tong-quan img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 1rem;
    }
    #tong-quan .tq-box .tq-content {
        padding-top: 2rem;
        width: 100%;
    }
    #tong-quan .tq-box .tq-content p {
        padding: 2rem 5rem;
        text-align: justify;
        font-size: 1.5rem;
        line-height: 1.2;
    }
}
@media (max-width: 477px)  {

    #tong-quan img {

        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 1rem;
    }

    #pro-details {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    #pro-details .single-pro-image {
        width: 100%;
        margin-right: 50px;
    }
    #pro-details .single-pro-image img {
        width: 100%;
    }
    
    #pro-details .single-pro-image .small-img-group {
        display: flex;
        justify-content: space-between;
        gap: 3%;
    }
    
    #pro-details .single-pro-image .small-img-col {
        flex-basis: 24%;
        cursor: pointer;
      }
    
    #pro-details .single-pro-details {
        width: 100%;
    }
    
    #pro-details .single-pro-details h1 {
        padding: 1rem 0;
        font-size: 2rem;
    }
    
    #pro-details .single-pro-details h2 {
        font-size: 1.5rem;
        padding-top: 5%;
    }
    
    
    
    #pro-details .single-pro-details input {
        width: 4rem;
        height: 2rem;
        padding-left: 10px;
        font-size: 1rem;
        margin-right: 1rem;
    }
    #pro-details .single-pro-details input:focus {
        outline: none;  
    }
    
    
    #pro-details .single-pro-details button{
        background-color: #088178;
        color: #fff;
    }
    
    #pro-details .single-pro-details p{
        padding: 1rem 0;
        line-height: 1.2;
        text-align: justify;
    }
      
    #pro-details .single-pro-details .sp-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    
    #pro-details .single-pro-details .sp-icons .icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #088178;
        width: 30%;
        border-radius: 1rem;
        color: #fff;
        padding: 1rem;
    }
    #pro-details .single-pro-details .sp-icons .icons i {
        padding-top: 1.5rem;
    
        font-size: 1.5rem;
    }
    #pro-details .single-pro-details .sp-icons .icons span {
        padding-top: 1.5rem;
        font-size: 0.75rem;
    }
    
}
/* Phat 2k3 ends */
/* Hien Le AKA guboiz 2k3 Start  */
/* Gioi Thieu Start */
/* modau start */
.btn {
    display: inline-block;
    background: #e4f3b6;
    margin-top: 1rem;
    color: #000000;
    font-size: 1.7rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.btn:hover {
    background: #abd641;
}

section {
    padding: 0 5rem;
}
.heading {
    background-size: cover !important;
    background-position: center !important;
    padding-top: 15rem;
    padding-bottom: 15rem;
    padding-left: 5rem;
    display: flex;
    align-items: center;    
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: auto;
    background: url(./images/gioiThieu/header.jpg);

}

#page-header {
    background-image: url(./images/gioiThieu/header.jpg);
    width: 100%;
    height:  80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    padding: 1rem;
    z-index: 1;
}

.lopphu {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height:  80vh;
    top: 0;
    left: 0;
    z-index: 10;
}

#page-header h2 {
    font-size: 5rem;
    text-transform: uppercase;
    background: linear-gradient(45deg, #FFFFFF, #62A4F1, #7F4BEE, #9B72F2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    object-fit: cover;

    z-index: 100;
}

#page-header p{
    color: #9B72F2;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 100;
}
/* mo dau end */

/* Header Start */

/* Header End */

/*section tong Quan starts*/

#tong-quan h2 {
    text-align: center;
    font: 800;
    font-size: 2rem;
    margin: 2rem 0;
}
#tong-quan .tq-box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}
#tong-quan .tq-box .tq-img {
    width: 40%;
    margin-right: 40px;
    
}
#tong-quan img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 2rem;
}
#tong-quan .tq-box .tq-content {
    width: 60%;
   font-family: Arial, Helvetica, sans-serif;
}
#tong-quan .tq-box .tq-content p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1;
}

/*section tong Quan ends*/

/* cauchuyen starts */
#cauchuyen {
    margin-top: 5rem;
    padding: 5% 10%;
    background-color: rgba(7, 102, 173, 0.5);
    color: #000000;
}
#cauchuyen h2{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1.5rem;
}
#cauchuyen .ch-box{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}
#cauchuyen .ch-box .ch-img{
    width: 40%;
    margin-right: 40px;
    
}
#cauchuyen img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 2rem;
}
#cauchuyen .ch-box .ch-content {
    width: 60%;
   font-family: Arial, Helvetica, sans-serif;
}
#cauchuyen .ch-box .ch-content p {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1;
}
/* cauchuyen end */

/* Dich Vu Chinh Stars */
.intro-container{
    padding: 5%;
}

.intro-title{
    margin-top: 2rem;
    text-align: center;
    color: var(--header-color);    
}
.service-main .title{
    text-align: center;
    color: var(--header-color);
    margin: 50px 0 30px 0;
}

.service-main .content{
    display: flex;
    justify-content: space-evenly;
}

.service .text{
    display: block;
    border: 1rem;
    text-indent: 60px;
    text-align: justify;
    width: 500px;
    background-color: #e4f3b6;
}

.slider-service{
    position: relative;
    left: 60px; 
    grid-area: sliderService;
}

.slider-service .slider-service-img1, .slider-service-img2, .slider-service-img3, .slider-service-img4{
    height: 380px;
    width: 480px;
    border-radius: 5px;
}

.list-service{
    grid-area: listService;
}

.list-service-item{
    font-size: 20px;
    height: 50px;
    margin-bottom: 10px;
}


.list-service-item i{
    cursor: pointer;
}

.list-service-item:hover a, .list-service-item:hover i{
    color: var(--button-hover-color);
}

.service-main #text{
    text-indent: 60px;
    text-align: justify;
    width: 350px;    
    padding: 25px;
    border-radius: 5px;
    grid-area: textServiceMain;
}
/* Dich Vu CHinh End */
/* Gioi Thieu End */
/* Hien Le AKA guboiz 2k3 End  */







/*============================================ Tin tức start ==========================================*/


.new-title{
    text-align: center;
    margin: 40px 0;
}

.new-item-img{
    width: 20vw;
    height: 15vw;
    border-radius: 5px;
}

.new-item{
    display: flex;
    margin: 20px 0 20px 40px;
}

.new-item-content{
    margin-left: 20px;
    margin-top: 1%;
}

.new-item-content p{
    width: 70%;
    text-align: justify;
    text-indent: 20px;
}

.new-item-content p a:hover{
    font-weight: 600;
    color: blue;
}

.new-item *{
    margin-bottom: 10px;
}

.new-item a{
    text-decoration: underline #0766AD;
}

.new-item .item-title{
    display: inline-block;
    margin-left: 5%;
    font-weight: bold;
}

.new-item1{
    grid-area: newItem1;
}

.new-item2{
    grid-area: newItem2;
}

.new-item3{
    grid-area: newItem3;
}

.new-item4{
    grid-area: newItem4;
}

.new-item5{
    grid-area: newItem5;
}

.new-item6{
    grid-area: newItem6;
}

.new-item7{
    grid-area: newItem7;
}

.new-item8{
    grid-area: newItem8;
}

.new-relax{
    grid-area: newRelax;
}

.new-play{
    grid-area: newPlay;
}

.new-meeting{
    grid-area: newMeeting;
}

.new-gradent{
    grid-area: newGradent;
}

.new-relax,
.new-play,
.new-meeting,
.new-gradent{
    text-align: center;
    margin-bottom: 15px;
}


.new-item-container{
    display: grid;
    grid-template-areas: "newRelax newRelax"
                         "newItem1 newItem2"
                         "newPlay newPlay"
                         "newItem3 newItem4"
                         "newMeeting newMeeting"
                         "newItem5 newItem6"
                         "newGradent newGradent"
                         "newItem7 newItem8";
}


@media only screen and (max-width: 799px){
    .new-item-container{
        grid-template-areas: "newRelax"
                             "newItem1"
                             "newItem2"
                             "newPlay"
                             "newItem3"
                             "newItem4"
                             "newMeeting"
                             "newItem5"
                             "newItem6"
                             "newGradent"
                             "newItem7"
                             "newItem8";
    }

    .new-item{
        display: block;
        margin-right: 40px;
    }

    .new-item-img{
        height: 50vw;
        width: 90vw;
    }

    .new-container{
        font-size: 15px;
    }

    .new-item p{
        width: 100%;
    }

    .item-title{
        width: 100%;
        text-align: center;
        position: relative;
        right: 20px;
    }

}


/* ==============================================Tin tức end========================================= */





















